/*
 * 设置文字的大小，后面的数字是根据px规定的，会自动换算成rem的 
 * 依赖default.css里面的body上面的文字的62.5%
 * 1rem = 10px
 */
.fonts-12 {
  font-size: 1.2rem;
}

.fonts-14 {
  font-size: 1.4rem;
}

.fonts-16 {
  font-size: 1.6rem;
}

.fonts-30 {
  font-size: 3rem;
}

.fonts-50 {
  font-size: 5rem;
}

/*
 * 设置文字加粗
 */
.fontw {
  font-weight: bold;
}
