/*
 * 左浮动 
 */
.l-floatl {
  float: left;
}

/*
 * 右浮动 
 */
.l-floatr {
  float: right;
}

/*
 * 清除浮动 
 * 不兼容ie6，7
 */
.l-floatc:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  content: '';
}

/*
 * 相对定位
 */
.l-positionr {
  position: relative;
}

/*
 * 绝对定位
 */
.l-positiona {
  position: absolute;
}

/*
 * 固定定位
 */
.l-positionf {
  position: fixed;
}

/*
 * 宽度设置为100% 
 * 后面的值是按照百分比计算的，例如100指的是100%
 */
.l-width100 {
  width: 100%;
}

/*
 * 宽度设置为90% 
 * 后面的值是按照百分比计算的，例如100指的是100%
 */
.l-width90 {
  width: 90%;
}

/*
 * 宽度设置为90% 
 * 后面的值是按照百分比计算的，例如100指的是100%
 */
.l-width80 {
  width: 80%;
}

/*
 * 宽度设置为20% (这个一般在4列的时候会有20%的宽度和4%的边距)
 * 后面的值是按照百分比计算的，例如100指的是100%
 */
.l-width20 {
  width: 20%;
}

/*
 * 宽度设置为30% (这个一般在3列的时候会有30%的宽度和2%的边距)
 * 后面的值是按照百分比计算的，例如100指的是100%
 */
.l-width30 {
  width: 30%;
}

/*
 * 外边距10%
 * 后面的值是按照百分比计算的，例如100指的是100%
 */
.l-margin10 {
  margin-left: 10%;
}

/*
 * 外边距4%
 * 后面的值是按照百分比计算的，例如100指的是100%
 */
.l-margin4 {
  margin-left: 4%;
}

/*
 * 外边距2%
 * 后面的值是按照百分比计算的，例如100指的是100%
 */
.l-margin2 {
  margin-left: 2%;
}

/*
 * 等分N列内容
 * 如果设置这个里面的元素会
 */
.l-collection {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  flex-direction: column;
}
.l-collection .l-col-row {
  -moz-box-flex: 1.0;
  -webkit-box-flex: 1.0;
  box-flex: 1.0;
}

/*
 * 内边距和边框都会计算在宽高之内 
 */
.l-boxbor {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} 

/*
 * 内边距和边框都会计算在宽高之外 
 */
.l-boxcont {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
} 